.section-bg.advantages
	.advantages__center.center
		.advantages__head
			h2.advantages__title.h2 For any space, at any pace
			.advantages__info From the comfort of your living room to a hotel room across the globe, we put the best classes at your fingertips. No WiFi? Download videos offline for a practice that moves with you.
		.advantages__list
			.advantages__item(data-aos="animation-opacity")
				.advantages__preview
					img(srcSet="img/content/hand-grip-circle@2x.png 2x"
						src="img/content/hand-grip-circle.png"
						alt="Hand grip")
				.advantages__subtitle Intuitive and clean design
			.advantages__item(data-aos="animation-opacity")
				.advantages__preview
					img(srcSet="img/content/gloves-circle@2x.png 2x"
						src="img/content/gloves-circle.png"
						alt="Gloves")
				.advantages__subtitle Track your progress easily
			.advantages__item(data-aos="animation-opacity")
				.advantages__preview
					img(srcSet="img/content/bottle-circle@2x.png 2x"
						src="img/content/bottle-circle.png"
						alt="Bottle")
				.advantages__subtitle Syncs with Apple Health