.workouts
	.workouts__center.center
		.workouts__gallery
			.workouts__preview
				img.some-icon(srcSet="img/content/phones@2x.png 2x"
					src="img/content/phones.png"
					alt="Phones")
				img.some-icon-dark(srcSet="img/content/phones-dark@2x.png 2x"
					src="img/content/phones-dark.png"
					alt="Phones")
			.workouts__preview(data-aos="animation-translate-up" data-aos-anchor=".workouts__gallery")
				img(srcSet="img/content/ball-green-1@2x.png 2x"
					src="img/content/ball-green-1.png"
					alt="Ball")
			.workouts__preview(data-aos="animation-translate-up" data-aos-delay="400" data-aos-anchor=".workouts__gallery")
				img(srcSet="img/content/apple@2x.png 2x"
					src="img/content/apple.png"
					alt="Apple")
		.workouts__wrap
			h2.workouts__title.h2 All your workouts, <br>in your pocket
			.workouts__info Fitness Pro helps track your workouts, get better results, and be the best version of you. Less thinking!
			ul.workouts__list
				li Fitness Pro Cloud
				li Syncs with Google Fit
				li Syncs with Apple Health
				li Track your progress easily
				li Intuitive and clean design
			.workouts__btns
				a.button.workouts__button(href="pricing.html") Choose Plan
				a.button-stroke.workouts__button(href="#") Request a demo