---
title: Pricing
classPricing: active
classTestimonials: section-bg testimonials js-tabs
---
extends layouts/layout
block content
	.section-bg.pricing
		.pricing__center.center
			.stage get stronger with fitness pro
			h1.pricing__title.h1 Choose a plan  that’s right for you
			.pricing__table
				.pricing__row
					.pricing__col
						.pricing__head
						.pricing__body
							.pricing__item
								.pricing__category Main features
								.pricing__parameters
									.pricing__parameter
										.pricing__label Time-Trackers
										.pricing__hint
											+i('info')
											.pricing__tooltip Some Text
									.pricing__parameter
										.pricing__label Exclusive Music
										.pricing__hint
											+i('info')
											.pricing__tooltip Some Text
									.pricing__parameter
										.pricing__label E-books
										.pricing__hint
											+i('info')
											.pricing__tooltip Some Text
									.pricing__parameter
										.pricing__label Documents
										.pricing__hint
											+i('info')
											.pricing__tooltip Some Text
									.pricing__parameter
										.pricing__label Premium Tutorial
										.pricing__hint
											+i('info')
											.pricing__tooltip Some Text
									.pricing__parameter
										.pricing__label Client Support
										.pricing__hint
											+i('info')
											.pricing__tooltip Some Text
									.pricing__parameter
										.pricing__label Premium Courses
										.pricing__hint
											+i('info')
											.pricing__tooltip Some Text
									.pricing__parameter
										.pricing__label User support
										.pricing__hint
											+i('info')
											.pricing__tooltip Some Text
									.pricing__parameter
										.pricing__label Chat to trainers
										.pricing__hint
											+i('info')
											.pricing__tooltip Some Text
									.pricing__parameter
										.pricing__label Unlimited Videos
										.pricing__hint
											+i('info')
											.pricing__tooltip Some Text
					.pricing__col
						.pricing__head
							.pricing__package(style="color: #9757D7;") Free Trial
							.pricing__description 14 days of free trial
							.pricing__cost
								.pricing__sign $
								.pricing__price 0
							.pricing__note per month
						.pricing__body 
							.pricing__more See all features
								+i('arrow-bottom')
							.pricing__list
								.pricing__parameter
									.pricing__label Time-Trackers
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Exclusive Music
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label E-books
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Documents
									.pricing__minus -
								.pricing__parameter
									.pricing__label Premium Tutorial
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Client Support
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Premium Courses
									.pricing__minus -
								.pricing__parameter
									.pricing__label User support
									.pricing__minus -
								.pricing__parameter
									.pricing__label Chat to trainers
									.pricing__minus -
								.pricing__parameter
									.pricing__label Unlimited Videos
									.pricing__minus -
							button.button.pricing__button Start free trial
					.pricing__col
						.pricing__head
							.pricing__package(style="color: #FF592C;") Premium
							.pricing__description Fit with everyone
							.pricing__cost
								.pricing__sign $
								.pricing__price 20.88
							.pricing__note per month
						.pricing__body 
							.pricing__more See all features
								+i('arrow-bottom')
							.pricing__list
								.pricing__parameter
									.pricing__label Time-Trackers
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Exclusive Music
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label E-books
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Documents
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Premium Tutorial
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Client Support
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Premium Courses
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label User support
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Chat to trainers
									.pricing__minus -
								.pricing__parameter
									.pricing__label Unlimited Videos
									.pricing__minus -
							button.button.pricing__button Get Started
					.pricing__col
						.pricing__head
							.pricing__package(style="color: #EF466F;") Unlimited Access
							.pricing__description Are you pro? Let’s do it
						.pricing__body 
							.pricing__more See all features
								+i('arrow-bottom')
							.pricing__list
								.pricing__parameter
									.pricing__label Time-Trackers
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Exclusive Music
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label E-books
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Documents
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Premium Tutorial
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Client Support
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Premium Courses
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label User support
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Chat to trainers
									.pricing__check
										+i('check')
								.pricing__parameter
									.pricing__label Unlimited Videos
									.pricing__check
										+i('check')
							button.button-stroke.pricing__button Contact Sale
	.section.comment
		.comment__center.center
			.comment__wrapper
				.comment__head
					h2.comment__title.h2 Find what moves you
					.comment__info Whether you’re a complete beginner or you want to step up your routine, get the full studio experience at home with thousands of classes for body, mind, and spirit.
				.comment__wrap
					.comment__slider.js-slider-comment
						.comment__slide
							a.comment__item(href="class02-details.html" data-aos="animation-opacity")
								.comment__preview
									img(srcSet="img/content/plates@2x.png 2x"
										src="img/content/plates.png"
										alt="Fitness")
								.comment__subtitle Fitness
								.comment__content Plates
						.comment__slide
							a.comment__item(href="class02-details.html" data-aos="animation-opacity")
								.comment__preview
									img(srcSet="img/content/yoga-mat@2x.png 2x"
										src="img/content/yoga-mat.png"
										alt="Yoga Mat")
								.comment__subtitle Gymnastic
								.comment__content Enhanced strength
						.comment__slide
							a.comment__item(href="class02-details.html" data-aos="animation-opacity")
								.comment__preview
									img(srcSet="img/content/ball@2x.png 2x"
										src="img/content/ball.png"
										alt="Ball")
								.comment__subtitle Basketball
								.comment__content Relax $ work efficiently
						.comment__slide
							a.comment__item(href="class02-details.html" data-aos="animation-opacity")
								.comment__preview
									img(srcSet="img/content/yoga-mat@2x.png 2x"
										src="img/content/yoga-mat.png"
										alt="Yoga Mat")
								.comment__subtitle Yoga
								.comment__content Perfect physique
						.comment__slide
							a.comment__item(href="class02-details.html" data-aos="animation-opacity")
								.comment__preview
									img(srcSet="img/content/plates@2x.png 2x"
										src="img/content/plates.png"
										alt="Fitness")
								.comment__subtitle Fitness
								.comment__content Plates
						.comment__slide
							a.comment__item(href="class02-details.html" data-aos="animation-opacity")
								.comment__preview
									img(srcSet="img/content/yoga-mat@2x.png 2x"
										src="img/content/yoga-mat.png"
										alt="Yoga Mat")
								.comment__subtitle Gymnastic
								.comment__content Enhanced strength
	.section-border-top.faq.js-tabs
		.faq__center.center
			.faq__top
				.stage-small learn how to get started
				h2.faq__title.h2 Frequently Asked Questions
				.faq__info Join Fitness Pro community now to get free updates and also alot of freebies are waiting for you or <a href="/#">Contact Support</a>
				.faq__nav
					a.faq__link.js-tabs-link.active(href="#") General
					a.faq__link.js-tabs-link(href="#") Trainers
					a.faq__link.js-tabs-link(href="#") Subscription
					a.faq__link.js-tabs-link(href="#") Class
				select.select
					option General
					option Trainers
					option Subscription
					option Class
			.faq__container
				.faq__box.js-tabs-item
					.faq__list
						mixin faqItem(title)
							.faq__item(data-aos="animation-opacity")
								.faq__head=title 
									.faq__arrow
										+i('arrow-bottom')
								.faq__body 
									.faq__row
										.faq__col
											.faq__preview
												img(srcSet="img/content/faq-pic@2x.png 2x"
													src="img/content/faq-pic.png"
													alt="Faq pic")
												button.play-small
													+i('play')
										.faq__col
											.faq__subtitle You don’t need to do anything else
											.faq__content
												p Mix-and-match dozens of responsive elements to quickly configure your favorite landing page layouts.
												p Or hit the ground running with 10 pre-built templates, all in light or dark mode."
											button.button-stroke.button-small.faq__button Learn more
						+faqItem("How do I register for an in-person class?")
						+faqItem("What is the status of my Fitness Pro membership?")
						+faqItem("How old does my child need to be to participate in class?")
						+faqItem("Do I have to be a member to take class?")
						+faqItem("Can I join a class once it’s in session?")
						+faqItem("Do I need to buy a yoga mat, towel, or equipment? ")
				.faq__box.js-tabs-item
					.faq__list
						+faqItem("What is the status of my Fitness Pro membership?")
						+faqItem("How old does my child need to be to participate in class?")
						+faqItem("Do I have to be a member to take class?")
						+faqItem("Can I join a class once it’s in session?")
						+faqItem("Do I need to buy a yoga mat, towel, or equipment? ")
				.faq__box.js-tabs-item
					.faq__list
						+faqItem("How old does my child need to be to participate in class?")
						+faqItem("Do I have to be a member to take class?")
						+faqItem("Can I join a class once it’s in session?")
						+faqItem("Do I need to buy a yoga mat, towel, or equipment? ")
				.faq__box.js-tabs-item
					.faq__list
						+faqItem("Can I join a class once it’s in session?")
						+faqItem("Do I need to buy a yoga mat, towel, or equipment? ")
						+faqItem("How old does my child need to be to participate in class?")
						+faqItem("Do I have to be a member to take class?")
						+faqItem("Can I join a class once it’s in session?")
						+faqItem("Do I need to buy a yoga mat, towel, or equipment? ")
	include partials/testimonials





